{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Bithlo - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="assets/images/favicon-3.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="../css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{% static 'main/assets/css/font-awesome-all.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/owl.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/jquery.fancybox.min.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/animate.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/color.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/style.css' %}" rel="stylesheet">
<link href="{% static 'main/assets/css/responsive.css' %}" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">

        <!-- preloader -->
            {% include 'main/partials/_pre-loader.html' %}
        <!-- preloader end -->

        <!-- main header -->
            {% include 'main/partials/_main-navbar.html' %}
        <!-- main-header end -->

        <!-- Mobile Menu  -->
            {% include 'main/partials/_mobile-menu.html' %}
        <!-- End Mobile Menu -->


        <!-- Page Title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url({% static 'main/assets/images/shape/shape-87.png' %});"></div>
            <div class="auto-container" style="max-width: 1200px">
                <div class="content-box">
                    <h1>Blog Details</h1>
                    <ul class="bread-crumb clearfix">
                        <li><a href="{% url 'main:index' %}">Home</a></li>
                        <li>Blog Details</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- End Page Title -->


        <!-- sidebar-page-container -->
        <section class="sidebar-page-container">
            <div class="auto-container" style="max-width: 1200px">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 content-side">
                        <div class="blog-details-content">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <!-- blog inside image -->
                                    <img src="{% static 'main/assets/images/news/news-10.jpg' %}" alt="">
                                </figure>
                                <div class="lower-content">
                                    <span class="post-date">{{ blog.created_time }}</span>
                                    <ul class="post-info clearfix">
                                        <li ><i class="far fa-folder-open"></i><p>Technology</p></li>
                                    </ul>
                                    <h2>Algorithm tells robots where nearby humans are headed</h2>
                                    <div class="text">
                                        <p>Equal blame belongs too those who fail in their through weakness will shrinking duty the obligation of business it will frequently occur that pleasures have to be repudiated annoyances accepted the wise man therefore always holds in these matters this principle selection rejects greater pleasures, or else he endures pains to avoid worse.</p>
                                        <h3>Increment business profitability by 40%?</h3>
                                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it but who has any right to find fault with a man who chooses to enjoy a that annoying consequences, or one who avoids a pain that produces.</p>
                                        <p>Their through weakness will shrinking duty the obligations of business it will frequently occur that pleasures have to repudiated annoyances accepted the wise man therefore always holds in these matters this principle selection rejects greater pleasures.</p>
                                        <blockquote>
                                            <div class="icon-box"><i class="fas fa-quote-left"></i></div>
                                            <h4>Business it will frequently occur that gerater pleasures have repudiated chooses to enjoy a pleasure that has no annoying.</h4>
                                            <span class="designation">K. L. Dertram Irvin</span>
                                        </blockquote>
                                        <p>Find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one avoidspain that produces no resultant teachings of the great explorer of the truth one who avoids a pain that produces no resultant pleasure.</p>
                                        <p>Praising pain was born will you a complete account of the system expound the actual teachings except to obtain some advantage from it but who has any right to find fault.</p>
                                    </div>
                                    <div class="content-one clearfix">
                                        <h3>Assessment of simulated intelligence</h3>
                                        <div class="inner">
                                            <div class="single-item">
                                                <h5>1975 - Machine Learning</h5>
                                                <span>52% in business</span>
                                            </div>
                                            <div class="single-item">
                                                <h5>1990 - Deep Learning</h5>
                                                <span>25% in business</span>
                                            </div>
                                        </div>
                                        <figure class="image-box"><img src="{% static 'main/assets/images/news/news-1.png' %}" alt=""></figure>
                                    </div>
                                    <div class="lower-text">
                                        <h3>AI in Industries</h3>
                                        <p>Denouncing pleasure and praising pain was born will you a complete account of the system, and expound the actual teachings except to obtain some advantage.</p>
                                        <p>Praising pain was born will you a complete account of the system expound the actual teachings except to obtain some advantage from it but who has any right to find fault.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- sidebar-page-container end -->



        <!-- main-footer -->
        {% include 'main/partials/_footer.html' %}
        <!-- main-footer end -->

        
    </div>


    <!-- jequery plugins -->
    <script src="{% static 'main/assets/js/jquery.js' %}"></script>
    <script src="{% static 'main/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'main/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'main/assets/js/owl.js' %}"></script>
    <script src="{% static 'main/assets/js/wow.js' %}"></script>
    <script src="{% static 'main/assets/js/validation.js' %}"></script>
    <script src="{% static 'main/assets/js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'main/assets/js/appear.js' %}"></script>
    <script src="{% static 'main/assets/js/scrollbar.js' %}"></script>
    <script src="{% static 'main/assets/js/tilt.jquery.js' %}"></script>
    <script src="{% static 'main/assets/js/isotope.js' %}"></script>
    <script src="{% static 'main/assets/js/bxslider.js' %}"></script>

    <!-- main-js -->
    <script src="{% static 'main/assets/js/script.js' %}"></script>

</body><!-- End of .page_wrapper -->
</html>
